@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --height-primary: 60px;
  
  --fz: 16px;

  --fw-lighter: 500;
  --fw-bold: 800;

  --border-general: 1pc solid black;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: var(--fz);

  position: relative;
}

.height-primary{
  width: 100%;
  height: var(--height-primary);
}

.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: var(--fw-bold);
}
.light{
  font-weight: var(--fw-lighter);
}
.border--left{
  border-right: var(--border-general);
}
.border--bottom{
  border-bottom: var(--border-general);
}
.border--bottom--none{
  border-bottom: none;
}
.border--left--none{
  border-left: none;
}

